@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../src/styling/base.css';

:root{
    --primary: #FAF1E4;
    --secondary: #CEDEBD;
    --tertiary: #9EB384;
    --quaternary: #435334;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}